.register {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & > video {
    width: 105%;
    position: absolute;
    z-index: 0;
    &::-webkit-media-controls {
      display: none !important;
    }
  }

  &-container {
    width: 600px;
    padding: 25px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(247, 237, 237, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(67, 67, 67, 0.595);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(138, 128, 128, 0.337);

    &-row {
      padding: 16px;

      input {
        background-color: rgba(255, 240, 211, 0.088);
        border-radius: 5px;
      }
      > p {
        color: #cc3300;
        font-size: 16px;
        font-weight: 500;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      &-password {
        display: flex;
        align-items: center;
        > span {
          font-size: 26px;
          cursor: pointer;
        }
      }
    }
    > button {
      width: 140px;
      height: 40px;
      border-radius: 20px;
      background-color: rgba(153, 160, 153, 0.322);
      color: #000;
      font-size: 28px;
      cursor: pointer;
      align-self: flex-end;
      font-size: 18px;

      &:hover {
        background-color: rgba(158, 141, 108, 0.386);
      }
    }

    > a {
      color: rgb(44, 40, 0);
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 900;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1620px) {
  video {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 1500px) {
  video {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1366px) {
  video {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 1266px) {
  video {
    transform: scale(1.5);
  }
}

@media only screen and (max-width: 1095px) {
  video {
    transform: scale(1.7);
  }
}

@media only screen and (max-width: 1095px) {
  video {
    transform: scale(1.7);
  }
}

@media only screen and (max-width: 966px) {
  video {
    transform: scale(2);
  }
}

@media only screen and (max-width: 824px) {
  video {
    transform: scale(2.3);
  }
}

@media only screen and (max-width: 715px) {
  video {
    transform: scale(2.6);
  }
}

@media only screen and (max-width: 635px) {
  video {
    transform: scale(3);
  }
  .register-container {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 549px) {
  video {
    transform: scale(3.2);
  }
}

@media only screen and (max-width: 514px) {
  video {
    transform: scale(3.4);
  }
}

@media only screen and (max-width: 484px) {
  video {
    transform: scale(3.7);
  }
}
