.register {
  width: 100%;
  height: 100vh;
  background-color: var(--account);
  background-image: url(../../assets/images/vernatun.jpg);
  // background-image: url(https://i.pinimg.com/564x/01/1f/5f/011f5fe602333c581a16a3a2a31e6028.jpg);
  background-size: cover;
  padding-top: 200px;
  //test
  &-container {
    background: rgb(0 0 0 / 27%);
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    //test
    &-row {
      padding: 16px;
      // min-height: 400px;
      //test

      input {
        background-color: rgb(255 240 211 / 78%);
        border-radius: 20px;
      }
      > p {
        color: #cc3300;
        font-size: 16px;
        font-weight: 500;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      &-password {
        display: flex;
        align-items: center;
        > span {
          font-size: 26px;
          cursor: pointer;
        }
      }
    }
    > button {
      padding: 8px 20px;
      border-radius: 20px;
      background-color: #5dbea3;
      color: white;
      font-size: 28px;
      cursor: pointer;
      align-self: flex-end;
      font-size: 18px;
    }
  }
}
