@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
/* font-family: 'Ephesis', cursive; */

.login {
  width: 100%;
  height: 100vh;
  background-color: black;
  // background-color: var(--account);
  // background-image: url(../../assets/images/vernatun.jpg);
  // background-image: url(https://i.pinimg.com/564x/01/1f/5f/011f5fe602333c581a16a3a2a31e6028.jpg);
  // background-image: url("https://i.pinimg.com/564x/d8/a1/5f/d8a15f0b16f5fd5a3b4b8ab7242002a5.jpg");
  // background-image: url("https://i.pinimg.com/564x/7b/49/79/7b4979afc6d0620a21678ba17a64d210.jpg");
  // background-size: cover;
  // padding-top: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  //test

  & > video {
    width: 105%;
    // height: 100%;
    position: absolute;
    // top: -10px;
    // left: 50px;
    z-index: 0;
  }

  &-container {
    padding: 20px;
    // border: 1px solid red;
    width: 450px;
    position: absolute;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* From https://css.glass */
    background: rgba(247, 237, 237, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(67, 67, 67, 0.595);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(138, 128, 128, 0.337);

    &-row {
      padding: 16px;

      label {
        color: black;
      }

      > p {
        color: red;
        font-size: 16px;
        font-weight: 500;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      &-password {
        display: flex;
        align-items: center;
        gap: 5px;

        > span {
          font-size: 26px;
          cursor: pointer;
        }
      }
    }
    > button {
      width: 140px;
      height: 40px;
      border-radius: 20px;
      background-color: rgba(153, 160, 153, 0.322);
      color: #000;
      font-size: 28px;
      cursor: pointer;
      align-self: flex-end;
      font-size: 18px;

      &:hover {
        background-color: rgba(158, 141, 108, 0.386);
      }
    }

    > a {
      color: rgb(44, 40, 0);
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 900;
      text-decoration: none;
    }
  }
}
