@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

@font-face {
  font-family: Ephesis;
  src: url(../src/assets/fonts/Ephesis/OFL.txt);
}

@font-face {
  font-family: SosStm;
  src: url(../src/assets/fonts/SosStm/SosStm.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --global-max-width: 1900px;
  --account: #f7efd4;
  --link: rgb(92, 65, 95);
  --input-bg: rgb(255, 254, 246);
  --dark-blue: #0c2340;
  --dark-blueviolet: #4a1942;
  --ff1: Ephesis;
  --ff2: SosStm;
  --ff3: "PT Sans Narrow", sans-serif;
}
